.titulo {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 50px;
}

.img {
  width: 350px;
  object-fit: contain; 
  border: 5px solid black;
}

h1 {
  text-align: center; 
  color: green;
  flex-shrink: 0; 
}

body{
  margin: 0;
  background-color: lightcyan;

}

nav{
  border: 3px solid black;
  max-width: 400px;
  margin: 2% auto;
  gap: 5px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  
}
.botones{
  display: block; 
  background-color: #4bb4f8;
  text-align: center; 
  margin: 0 auto;
  margin-bottom: 15px; 
  border-radius: 8px;
  font-size: 30px;
  padding: 2% 5%;
  width: 50%;
  text-decoration: none; 
  color: black; 

}